<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groupie tracker</title>
      <link rel="stylesheet" href="css/styletest.css">
 </head>
 <header>
  <div class="topnav">
    <a href="/">Artists</a>
    <a href="/search">Search</a>
   </div>
  <details class="p2">
    <summary>Credits</summary>
    <ul>JollyRoger Alo</ul>
   </details>
   <form action="/query" method="post" target="iframe_a">
    <button type="submit">Search</button>
    <input list="artists" id="bands" name="bands" type="text"/>
    <datalist id="artists">{{range .ArtistData }}
        <option value= "{{.Name}}">
            {{range .Members}}
        <option value= "{{.}}">
            {{end}}
        <option value= "{{.FirstAlbum}}">
        <option value= "{{.CreationDate}}">
            {{end}}
            
            
            {{range $key, $value := .Map}}
        <option value= "{{$key}}">
            {{end}}
            
        </datalist>
        </form>
    </datalist>

</header>
<body>
    <iframe name="iframe_a" p id="p2" height="530px" width="100%" title="Iframe"></iframe>
</body>
</html>